.descr{
        display: flex;
        justify-content: center;
       
        flex-direction: column;
        align-items: center;
        text-align: center;
 
        
    }
.ri{
    margin-left: 20px;
}
.prf{
    margin-left: 7px;
}